{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>Elmi Farah</h2>
            <!-- Content goes directly underneath this -->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tempus elit eu sollicitudin lobortis. Cras ornare nisl lectus, a accumsan dui gravida ut. Nunc neque est, condimentum id mauris at, pretium sagittis urna. Vivamus placerat risus at metus pulvinar sagittis. Pellentesque eu ultricies ex. Cras eu vehicula felis. Quisque ac fermentum lacus. Etiam ultricies ligula tortor, eu molestie eros pellentesque sed. Nam dapibus massa eget nunc dapibus, et eleifend dui aliquet.
            Donec eget tortor eget enim imperdiet ornare at non mauris. Nulla ut eros suscipit, accumsan enim sit amet, rutrum augue. Phasellus a metus vestibulum, tempus arcu sit amet, hendrerit ex. Proin condimentum, urna non tristique aliquam, metus velit ornare nibh, nec lobortis lacus augue et est. Praesent eleifend elit sed nibh laoreet porttitor. Morbi vitae orci eget orci sollicitudin rutrum. Maecenas nec vulputate diam, ac elementum dolor. Aliquam ac lacus pellentesque, euismod magna ac, sollicitudin diam. Phasellus eget ipsum quis orci feugiat tempor. Aliquam dignissim semper imperdiet. Integer rutrum dapibus metus, sit amet mollis enim dapibus et. Fusce porta eros ut purus tempor varius. Sed interdum tincidunt cursus.
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: </em></p>
        </div>
      </div>
</div>
{% endblock content %}